body {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
}

svg {
    border: 1px solid;
    margin-left:auto;
    margin-right:auto;
    display: block;
    background-color: white;
}

path {
    fill: lightsalmon;
    stroke: salmon;
    stroke-width: 5px;
}

#group {
    padding-top: 46px;
}